@import "tailwindcss";

.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
}

.ant-table-cell {
    padding: 11px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: transparent;
}

.ant-table-thead > tr > th {
    white-space: nowrap !important;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

* ::-webkit-scrollbar-thumb {
    /* border-radius: 5px; */
    background-color: gray;
}
