@import "tailwindcss";

.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
}

.ant-table-cell {
    padding: 10px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: transparent;
}

/* .ant-form-item-label {
    text-align: start !important;
} */
